<h3>List All Books in Library!</h3>
<!--
<p>Click the button below to get list of current books in the book library:</p>
<button type="button"  class="btn btn-primary" (click)="listallbooks()">ListAllBooks</button>
-->
<ol>
    @for( book of bookarr; track book.id )
    {
      <li>
        {{book.id}},  <br/>
        {{book.bkname}}, <br/>
        {{book.bkprice}} <br/>
        <button (click)="deletebook(book.id)">delete</button> <!--step1-->
      </li>

    }
    @empty
    {
      <p>Book array is currently empty!</p>
    }
</ol>
<hr/>
{{deletesuccess}}

