<p>studrestclient works!</p>
<p>max students allowed:{{max_stud_allowed}}</p>

<div>
  <input type="button" (click)="getAllStudents()" value="list students" />
</div>


@if(flag===true)
{
  <input type="text" [(ngModel)]="updateStud.studid" readOnly disabled="true"/>
  <input type="text" [(ngModel)]="updateStud.name"  />
  <input type="text" [(ngModel)]="updateStud.totalMarks"  />
  <input type="button" (click)="updateStudent()" value="update" />

}
@if(studarr.length>0)
{
<table>
<thead>
  <tr><th>studentid</th><th>studname</th><th>studentTotalMarks</th></tr>
</thead>
<tbody>

  @for (st of studarr; track st.studid) {
  <tr>
     <td>{{ st.studid }}</td>
     <td>{{st.name}}</td>
     <td>{{st.totalMarks}}</td>
     <td><input type="button" (click)="deleteStudent(st.studid)"  value="delete" /></td>
     <td><input type="button" (click)="editStudent(st)" value="edit" /></td>
  </tr>
  }
</tbody>
</table>
}
@else {
  <p>Currently, There are no students in class!</p>
}
